.delete-button {
  background-color: rgb(194, 49, 49);
  color: white;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.button-cancel {
  background-color: grey;
  color: white !important;
}