.example-spacer {
  flex: 1 1 auto;
}

.div-table {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  mat-form-field {
    width: 100%;
  }
}

.error-busqueda {
  padding: 20px 0px; 
  font-weight: normal;
}