<div class="header">
  <h1>Prueba técnica LER Prevención</h1>
</div>

<!-- Botón para agregar persona -->
<div class="add-person-button-container">
  <button class="button-add-person" mat-raised-button (click)="openAddPersonForm()">
    Agregar persona
  </button>
</div>

<!-- Tabla personas -->
<div class="div-table">
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Cristian" #input>
    </mat-form-field>
  
  <div class="mat-elevation-z6">
    <table mat-table [dataSource]="dataSource" matSort>
      
      <!-- Columna nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>
  
      <!-- Columna número de cédula -->
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # Cédula </th>
        <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
      </ng-container>

      <!-- Columna género -->
      <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
        <td mat-cell *matCellDef="let row"> {{row.genero}} </td>
      </ng-container>
  
      <!-- Columna fecha de nacimiento -->
      <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
        <td mat-cell *matCellDef="let row"> {{row.fechaNacimiento | date}} </td>
      </ng-container>

      <!-- Columna para modificar información de la persona -->
      <ng-container matColumnDef="modificar">
        <th mat-header-cell *matHeaderCellDef> Modificar </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="openEditPersonForm(row)" matTooltip="Modificar información">
            <mat-icon style="color: #2546A4;">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Columna para eliminar persona -->
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let row"> 
          <button mat-icon-button (click)="confirmarEliminarPersona(row)" matTooltip="Eliminar persona">
            <mat-icon style="color: red;">delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      
    </table>
    
    <!-- Mensaje cuando no se encuentra información en la búsqueda -->
    <div *ngIf="dataSource && dataSource.filteredData.length === 0 && searchValue" class="no-data-message">
      No se han encontrado coincidencias "{{searchValue}}
    </div>

    <!-- Mensaje cuando no hay datos -->
    <div *ngIf="!searchValue && dataSource && dataSource.data.length === 0" class="no-data-message">
      No hay datos disponibles
    </div>

    <!-- Paginador -->
     <mat-paginator *ngIf="dataSource && dataSource.data.length > 4" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

<!-- Mensaje de desarrollo -->
<footer class="footer">
  <p>Desarrollado por Cristian David Murcia Moreno</p>
</footer>
