.header {
  background-color: #f1f1f1;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}


.button-add-person {
  background-color: var(--color-primario) !important;
  color: white !important;
}

/* Estilos para el contenedor del botón */
.add-person-button-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

/* Opcional: Estilo del botón para hacerlo más prominente */
button.mat-raised-button {
  font-size: 16px;
  padding: 12px 24px;
}

.div-table {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  mat-form-field {
    width: 100%;
  }
}

.no-data-message {
  text-align: center;
  font-size: 16px;
  color: var(--color-acento);
  padding: 16px;
}

.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}
