.example-spacer {
  flex: 1 1 auto;
}

.div-table {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  mat-form-field {
    width: 100%;
  }
}

.no-data-message {
  text-align: center;
  font-size: 16px;
  color: #666;
  padding: 16px;
}

.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-top: 1px solid #ccc;
}
