.title {
  text-align: center;
}

.content-form {
  padding-top: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.button-save-edit {
  background-color: var(--color-primario);
  color: white ;

  // Color del boton cuando esta deshabilitado
  &:disabled {
    background-color: #E0E0E0;
    color: #9B9B9B;
  }
}

.button-cancel {
  background-color: grey;
  color: white; 
}

.button-date {
  background-color: var(--color-primario);
  color: white;
}