/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-primario: #2546A4;
  --color-acento: #EF790F;
  --color-fondo: #FFFFFF;
}

// Estilos para snackbar
.snackbar-blue {
  --mdc-snackbar-container-color: #2546A4;
  --mdc-snackbar-supporting-text-color: #fff;
}

.snackbar-red {
  --mdc-snackbar-container-color: rgb(194, 49, 49);
  --mdc-snackbar-supporting-text-color: #fff;
}